<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Criar Compra</title>
</head>
<body>
    <h1>Formulário de Criação de Compra</h1>
    <form action="/compra/criar" method="post">
        <label for="id">ID:</label><br>
        <input type="text" id="id" name="id"><br> 
        <label for="cpfCliente">CPF do Cliente:</label><br>
        <input type="text" id="cpfCliente" name="cpfCliente"><br>
        <button type="submit" value="Criar">Criar</button>
    </form>
</body>
</html>
