<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <h1>Bem-vindo à Loja de Alimentos</h1>
    <ul>
    	<h1>Cliente</h1>
        <li><a href="/cliente">Adicionar Cliente</a></li>
        <li><a href="/cliente/crud">Alterar/Excluir/Buscar</a></li>
        <li><a href="/compra/criar">Criar Compra</a></li>
        <li><a href="/compra">Comprar Alimento</a></li>
		<hr>
        <h1>Funcionario</h1>
        <li><a href="/funcionario/adicionar">Adicionar Funcionário</a></li>
        <li><a href="/funcionario">Alterar/Excluir/Buscar</a></li>
		<hr>
        <h1>Alimento</h1>
        <li><a href="/alimento/cadastro">Adicionar Alimento</a></li>
        <li><a href="/alimento/listar">Alterar/Excluir/Buscar</a></li>
		<hr>
    </ul>
</body>
</html>
