<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Listar Clientes</title>
</head>
<style>
	table, th, td {
		border: 1px solid black;
		text-align: center;
	}
</style>
<body>
    <h1>Listagem de Clientes</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Email</th>
            <th>CPF</th>
            <th>Telefone</th>
            <th>Ações</th>
        </tr>
        <!-- Itera sobre a lista de clientes e exibe suas informações -->
        <tr th:each="cliente : ${clientes}">
            <td th:text="${cliente.id}"></td>
            <td th:text="${cliente.nome}"></td>
            <td th:text="${cliente.email}"></td>
            <td th:text="${cliente.cpf}"></td>
            <td th:text="${cliente.telefone}"></td>
  
            <td>
                <form th:action="@{/cliente/deleteCliente}" method="post">
                    <input type="hidden" th:name="id" th:value="${cliente.id}" />
                    <button type="submit">Excluir</button>
                </form>
                <button type="button"><a th:href="@{/cliente/alterar(id=${cliente.id})}">Editar</a></button>
            </td>
        </tr>
    </table>
    <button type="button"><a href="/cliente">Adicionar Cliente</a></button>
</body>
</html>