<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Formulário de Alimento</title>
</head>
<body>
    <h1>Formulário de Alimento</h1>
    <form th:action="@{/alimento/salvar}" method="post">
        <input type="hidden" th:field="*{id}"/>
        <label>Nome:</label>
        <input type="text" th:field="*{nome}" required><br>
        <label>Preço:</label>
        <input type="number" step="0.01" th:field="*{preco}" required><br>
        <label>Tipo:</label>
        <select th:field="*{tipoAlimento}">
            <option value="FRUTA">Fruta</option>
            <option value="VERDURA">Verdura</option>
            <option value="CARNE">Carne</option>
            <option value="LEGUME">LEGUME</option>
        </select><br>
        <button type="submit">Salvar</button>
    </form>
</body>
</html>
